<div id="all-area" class="all-section">
  <!-- Page Header AREA START -->
  <section class="page-head page-bg" style="background-image: url('assets/images/bg/about.jpg')">
    <div class="container">    
      <h3 class="page-heading">About Us</h3>
      <div class="sub-title">
        <a href="#"><span>Home</span></a>
        <i class="fa fa-angle-right"></i>
        <span>About Us</span>
      </div>
    </div> <!-- /.container -->
  </section> <!-- /.page-head -->
  <!-- /Page Header AREA END -->

<!-- Overview AREA START -->
  <section class="about-content-area section1">
      <div class="row">
        <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">
          <div class="section-heading1">
            <h2 class="title"><span>About</span> Us</h2>
            <p>TechLopers is an emerging growth company, led by an enthusiastic and energetic team, of young professionals. We aim to be a niche service company providing ‘I.T.’ and ‘CFO & Financial Accounting Reporting’ services. Our teams our skilled, willing and able of dealing with even the hardest of challenges.</p><hr/>
          </div>
        </div>
      </div> <!-- /.row -->
        <div class="row">
        <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">
          <div class="section-heading1">
            <h2 class="title"><span>Our</span> Offices</h2>
            <p>   1. We have our corporate office in <b> New Delhi</b>, India. <br/>
                   2. Our client relationship offices are in <b>New York</b> and <b>California </b>, <b>USA</b></p><hr/>
          </div>
        </div>
      </div> <!-- /.row -->
      <div class="row">
        <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">
          <div class="section-heading1">
            <h2 class="title"><span>Our</span> Mission</h2>
            <p>  Our mission is to become a reputed and highly reliable partner providing exclusive IT, Accounting, Data Processing & Analysis services to our corporate, SME, Micro business clients as well as individual professionals. We strive to offer high quality services at the most cost effective prices, while ensuring security, reliability and confidentiality.</p><hr/>
          </div>
        </div>
    </div> <!-- /.row -->
    <div class="row">
        <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">
          <div class="section-heading1">
            <h2 class="title"><span>Our</span> Vision</h2>
            <p>  <img src="assets/images/about.png" > </p><hr/>
          </div>
        </div>
    </div> <!-- /.row -->
    <div class="row" >
        <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">
          <div class="section-heading1" >
            <h2 class="title"><span>Growth</span> Strategy</h2>
            </div>
            <div class="col-sm-6">  We will effectively double the scale of our operations by Q4 2018, by doubling the number of employees and serving a minimum of 50 clients in a year. We will also improve employee productivity by an estimated 3%, using learning & training modules for our employees, while reducing inefficiencies in the business process. We will be operating in two correlated offices in major Indian cities by 2019.
            </div>
             <div class="col-sm-6">
             <img src="assets/images/growth.png" >
             </div>
          
        </div>
    </div> <!-- /.row -->		
  </section> <!-- /.about-content-area -->
</div>