<!-- Page Header AREA START -->
<section class="page-head page-bg" style="background-image: url('assets/images/contact_title_bg.jpg')">
    <div class="container">    
        <h3 class="page-heading">Contact</h3>
        <div class="sub-title">
            <a href="#"><span>Home</span></a>
            <i class="fa fa-angle-right"></i>
            <a href="#"><span>Contact</span></a>
        </div>
    </div> <!-- /.container -->
</section> <!-- /.page-head -->
<!-- /Page Header AREA END -->

<!-- Contact AREA START -->
<section class="contact-us section">
    <div class="container">    
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="contact-content">
                    <div class="comm-title">
                        <h3>Contact Us</h3>
                    </div>
                    <p>Lsed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat. Cupidatat non proident, sunt in culpa qui</p> 
                    
                </div> <!-- /.contact-content -->
                <div class="lets-contact">
                     <ul class="contact-list">
                        <li>
                            <a href="#"><i class="fa fa-paper-plane-o"></i>E-218B, Ground Floor,
                                Noida, Uttar Pradesh
                                India.</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-phone"></i>+91-8826998442</a>
                        </li>
                    </ul> <!-- /.contact-list -->	
                     <ul class="contact-list">
                        <li>
                            <a href="#"><i class="fa fa-paper-plane-o"></i>California, Mariposa Gardens,
                                Shopping Center, Homestead Road,
                                Santa Clara, CA-95051.</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-phone"></i>+1-669-228-0287</a>
                        </li>
                    </ul> <!-- /.contact-list -->	

                    <ul class="contact-list">
                        <li>
                            <a href="#"><i class="fa fa-paper-plane-o"></i>New York , 14 Knell Lane
Dix Hills, NY - 117461</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-phone"></i>+1-669-228-0287</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-envelope-o"></i>info@techlopers.com</a>
                        </li>								
                    </ul> <!-- /.contact-list -->						
                </div> <!-- /.lets-contact -->
            </div> <!-- /.col- -->
            <div class="col-xs-12 col-sm-6">
                <div class="border-in">
                    <div class="comm-title">
                        <h3>Get in touch with us</h3>
                    </div>
                    <div class="contact-form">
                        <form method="post" action="#">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    <div class="form-group">
                                        <input type="text" name="Name" class="form-control" required placeholder="Your Name">
                                    </div>
                                </div> <!-- /.col- -->
                                <div class="col-xs-12 col-sm-12">
                                    <div class="form-group">
                                        <input type="email" name="Email" class="form-control" required placeholder="Your Email">
                                    </div>
                                </div> <!-- /.col- -->
                                <div class="col-xs-12 col-sm-12">
                                    <div class="form-group">
                                        <input type="text" name="Subject" class="form-control" placeholder="Your Subject">
                                    </div>
                                </div> <!-- /.col- -->

                                <div class="col-xs-12 col-sm-12">
                                    <div class="form-group">
                                        <textarea name="Comment" class="form-control" required placeholder="Your Message"></textarea>
                                    </div>
                                </div> <!-- /.col- -->
                                <div class="form-group col-xs-12">
                                    <div class="form-btn">
                                        <input type="submit" name="submit" value="Send" class="contact-form-btn">
                                    </div>
                                </div>
                            </div> <!-- /.row -->
                        </form>
                    </div> <!-- /.contact-form -->
                </div>
            </div> <!-- /.col- -->
        </div> <!-- /.row -->  
    </div> <!-- /.container -->
</section> <!-- /.contact-us -->
<!-- /Contact AREA END -->