<div id="all-area" class="all-section">
    <!-- Start Main Slider -->
    <section id="main-slider">
        <!-- Carousel -->
        <div id="main-slide" class="main-slider carousel slide" data-ride="carousel">
          <!-- Carousel inner -->
          <div class="carousel-inner">
            <div class="item active">
              <img class="img-responsive" src="assets/images/slider/1.jpg" alt="slider">
              <div class="container">
                <div class="slider-content">
                  <div class="container">
                    <h2 class="animated4">
                      <span>We Make Creative <strong>Website</strong></span>
                    </h2>
                    <p class="animated6 slide-para">
                      <span>Service that you need ! We will Provide .</span>
                    </p>
                    <p class="animated4">
                      <a href="#" class="slider-btn cbiz-btn">Watch Video</a>
                      <a href="#" class="slider-btn cbiz-btn cbiz-btn-border">Buy Now</a>
                    </p>
                  </div>
                </div>
              </div> <!-- /.container -->
            </div> <!-- /.item -->
            <div class="item">
              <img class="img-responsive" src="assets/images/slider/2.jpg" alt="slider">
              <div class="container">
                <div class="slider-content">
                  <div class="container">
                    <h2 class="animated2">
                      <span>We Make Beautiful <strong>Design</strong></span>
                    </h2>
                    <p class="animated3 slide-para">Let's create company growing strategy togather.</p>
                    <p class="animated4">
                      <a href="#" class="slider-btn cbiz-btn">Watch Video</a>
                      <a href="#" class="slider-btn cbiz-btn cbiz-btn-border">Buy Now</a>
                    </p>
                  </div>
                </div>
              </div> <!-- /.container -->
            </div> <!-- /.item -->
            <div class="item">
              <img class="img-responsive" src="assets/images/slider/3.jpg" alt="slider">
              <div class="container">
                <div class="slider-content">
                  <div class="container">
                    <h2 class="animated5">
                     <span>Welcome to Our <strong>Techlopers</strong></span>
                    </h2>
                    <p class="animated7 slide-para">
                      <span>A name you can trust in an uncertain world.</span>
                    </p>
                    <p class="animated8">
                      <a href="#" class="slider-btn cbiz-btn">Watch Video</a>
                      <a href="#" class="slider-btn cbiz-btn cbiz-btn-border">Buy Now</a>
                    </p>
                  </div>
                </div>
              </div> <!-- /.container -->
            </div> <!-- /.item -->
  
          </div>
          <!-- Carousel inner end-->
  
          <!-- Controls -->
          <a class="left carousel-control" href="#main-slide" data-slide="prev">
            <span><i class="fa fa-angle-left"></i></span>
          </a>
          <a class="right carousel-control" href="#main-slide" data-slide="next">
            <span><i class="fa fa-angle-right"></i></span>
          </a>
          <div class="click-to-next bottom-top-animation">
            <i></i>
          </div>
  
        </div>
        <!-- /carousel -->
      </section> <!-- /.main-slider -->
      <!-- End Main Slider -->
  
      <section class="servicenow">
        <div class="container">
          <div class="row section-heading">
            <div class="col-sm-12 text-center news-form">
              <h2 class="title1">Take service now for a test drive.</h2>
              <!--<div class="submit-btn">
               <a href="#" class="slider-btn cbiz-btn" style="padding: 5px 25px;">Contact Us</a>
              </div>-->
            </div>
            <div class="col-sm-12">
                  <form class="news-form">
                    <div class="col-sm-2"></div>
                  <div class="col-sm-6 col-xs-12">
                    <div class="form-group">
                      <div class="sub-mail">
                        <input type="email" name="Email" class="form-control" required placeholder="Your email address">
                      </div>
                    </div>
                  </div> <!-- /.col- -->
                  <div class="col-sm-2 col-xs-6">
                    <div class="form-group">
                      <div class="submit-btn">
                        <input type="submit" name="Submit" value="Subscribe!" class="form-control">
                      </div>
                    </div>
                  </div> <!-- /.col- -->
                  <div class="col-sm-2"></div>
                </form> <!-- /.news-form -->
            </div>
          </div>
        </div>
      </section>
  
      <section class="">
        <div class="container ">   
        <div class="row aboutDiv text-center">
          <div class="col-sm-12">
            <div class="col-md-4 col-sm-6 service-box1" data-animation="fadeIn" data-animation-delay="01">
              <div class="service-icon">
                <!-- <i class="flaticon-responsive icon-large"></i> -->
                <img class="icon-large" src="assets/images/startup.png" alt="Icon">
              </div>
              <div class="service-content">
                <a href="#"><h3>ARE YOU A STARTUP (ENTREPRENEURS)</h3></a>
                <a href="#" class="slider-btn cbiz-btn" style="padding: 5px 10px;">Explore Now</a>
              </div>
            </div> <!-- /.service-box -->
            <div class="col-md-4 col-sm-6 abouttext" data-animation="fadeIn" data-animation-delay="01">						
              <div class="about-center">
                <a href="#"><h2><u>About Us</u></h2></a><br/>
                <p>TechLopers is an emerging growth company, led by an enthusiastic and energetic team, of young professionals. We aim to be a niche service company providing <b>‘I.T.’</b> and <b>‘CFO & Financial Accounting Reporting’</b> services. Our teams our skilled, willing and able of dealing with even the hardest of challenges.<br/><a href="about.html">Read More.....</a></p>
              </div>
            </div> <!-- /.service-box -->
            <div class="col-md-4 col-sm-6 service-box1" data-animation="fadeIn" data-animation-delay="01">
              <div class="service-icon">
                <!-- <i class="flaticon-command icon-large"></i> -->
                <img class=" icon-large" src="assets/images/corporate.png" alt="Icon">
              </div>
              <div class="service-content">
                <a href="#"><h3>ARE YOU IN A CORPORATE</h3></a>
                <a href="#" class="slider-btn cbiz-btn" style="padding: 5px 10px;">Explore Now</a>
              </div>
            </div> <!-- /.service-box -->		
            </div>			
          </div> <!-- /.row -->
        </div> <!-- /.container -->
      </section> <!-- /.our-goal -->
      <!-- /Our Goal AREA END -->
  
        <section class="industrydiv">
        <div class="container">
          <div class="row ">
          <div class="col-sm-12 text-center news-form">
              <h2 class="title1">Choose Your Industry</h2>						
            </div>
            <div class="col-sm-12">
                <div id="myCarousel" class="carousel slide">
                   
                  <ol class="carousel-indicators" style="margin-bottom: -20px;">
                      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel" data-slide-to="1"></li>
                      <li data-target="#myCarousel" data-slide-to="2"></li>
                      <li data-target="#myCarousel" data-slide-to="3"></li>
                      <li data-target="#myCarousel" data-slide-to="4"></li>
                  </ol>
                   
                  <!-- Carousel items -->
                  <div class="carousel-inner">
                      
                  <div class="item active">
                    <div class="row-fluid we-tab">
                      <div class="col-sm-3 span3 active">
                        <div class="we-item">
                <i class="fa fa-cogs fa-th-large fa-2x "></i>
                <a href="#"><h4 class="gen-title">Automotive</h4></a>
                <p></p>
              </div>
              </div>
                      <div class="col-sm-3 span3">
                          <div class="we-item">
                <i class="fa fa-university fa-2x"></i>
                <a href="#"><h4 class="gen-title">Banking & Financial</h4></a>
              </div>
                      </div>
                      <div class="col-sm-3 span3">
                        <div class="we-item">
                <i class="fa fa-usd fa-2x"></i>
                <a href="#"><h4 class="gen-title">Capital Markets</h4></a>
                <p></p>
              </div>
            </div>
                      <div class="col-sm-3 span3">
                          <div class="we-item">
                <i class="fa fa-flask fa-2x"></i>
                <a href="#"><h4 class="gen-title">Chemicals</h4></a>
                <p></p>
              </div>
                      </div>
                    </div><!--/row-fluid-->
                  </div><!--/item-->
                   
                  <div class="item">
                    <div class="row-fluid">
                      <div class="col-sm-3 span3">
                      <div class="we-item">
                <i class="fa fa-television fa-2x"></i>
                <a href="#"><h4 class="gen-title">Consumer Goods</h4></a>
                <p></p>
              </div>
                      </div>
                      <div class="col-sm-3 span3">
                      <div class="we-item">
                <i class="fa fa-bolt fa-2x"></i>
                <a href="#"><h4 class="gen-title">Energy</h4></a>
                <p></p>
              </div>
                      </div>
                      <div class="col-sm-3 span3">
                      <div class="we-item">
                <i class="fa fa-shopping-cart fa-2x"></i>
                <a href="#"><h4 class="gen-title">E-Commerce</h4></a>
                <p></p>
              </div>
                      </div>
                      <div class="col-sm-3 span3">
              <div class="we-item">
                <i class="fa fa-book fa-2x"></i>
                <a href="#"><h4 class="gen-title">Financial Accounting</h4></a>
                <p></p>
              </div>
                      </div>
                    </div><!--/row-fluid-->
                  </div><!--/item-->
                   
                  <div class="item">
                    <div class="row-fluid">
                      <div class="col-sm-3 span3">
                        <div class="we-item">
                <i class="fa fa-medkit fa-2x"></i>
                <a href="#"><h4 class="gen-title">Healthcare</h4></a>
                <p></p>
              </div>
                      </div>
                      <div class="col-sm-3 span3">
                          <div class="we-item">
                <i class="fa fa-bed fa-2x"></i>
                <a href="#"><h4 class="gen-title">Hospitality</h4></a>
                <p></p>
              </div>
                      </div>
                      <div class="col-sm-3 span3">
                          <div class="we-item">
                <i class="fa fa-industry fa-2x"></i>
                <a href="#"><h4 class="gen-title">Industrial Manufact..</h4></a>
                <p></p>
              </div>
                      </div>
                      <div class="col-sm-3 span3">
                          <div class="we-item">
                <i class="fa fa-shield fa-2x"></i>
                <a href="#"><h4 class="gen-title">Insurance</h4></a>
                <p></p>
              </div>
                      </div>
                    </div><!--/row-fluid-->
                  </div><!--/item-->
  
                   <div class="item">
                    <div class="row-fluid">
                      <div class="col-sm-3 span3">
                        <div class="we-item">
                <i class="fa fa-pagelines fa-2x"></i>
                <a href="#"><h4 class="gen-title">Life Science</h4></a>
                <p></p>
              </div>
                      </div>
                      <div class="col-sm-3 span3">
                          <div class="we-item">
                <i class="fa fa-film fa-2x"></i>
                <a href="#"><h4 class="gen-title">Media Entertainment</h4></a>
                <p></p>
              </div>
                      </div>
                      <div class="col-sm-3 span3">
                          <div class="we-item">
                <i class="fa fa-balance-scale fa-2x"></i>
                <a href="#"><h4 class="gen-title">Regulatory Affairs</h4></a>
                <p></p>
              </div>
                      </div>
                      <div class="col-sm-3 span3">
                          <div class="we-item">
                <i class="fa fa-shopping-cart fa-2x"></i> 
                <a href="#"><h4 class="gen-title">Retail</h4></a>
                <p></p>
              </div>
                      </div>
                    </div><!--/row-fluid-->
                  </div><!--/item-->
  
                     <div class="item">
                    <div class="row-fluid">
                      <div class="col-sm-3 span3">
                        <div class="we-item">
                <i class="fa fa-signal fa-2x"></i>
                <a href="#"><h4 class="gen-title">Telecommunication</h4></a>
                <p></p>
              </div>
                      </div>
                      <div class="col-sm-3 span3">
                          <div class="we-item">
                <i class="fa fa-truck fa-2x"></i>
                <a href="#"><h4 class="gen-title">Transportation Logist..</h4></a>
                <p></p>
              </div>
                      </div>
                    </div><!--/row-fluid-->
                  </div><!--/item-->
                   
                  </div><!--/carousel-inner-->
                   
                <!--  <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                  <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>-->
                  </div><!--/myCarousel-->
            </div>
          </div>
        </div>
         </section>
  
         
  
  
      <!-- Start Services Area -->
      <section class="service section">
        <div class="container">			
          <div class="row">
            <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">
              <div class="section-heading">
                <h2 class="title"><span>Our</span> Awesome service</h2>
            
              </div>
            </div>
          </div> <!-- /.row -->
          <div class="row">
            <div class="col-md-4 col-sm-6 service-box" data-animation="fadeIn" data-animation-delay="01">
              <div class="service-icon">
                <!-- <i class="flaticon-responsive icon-large"></i> -->
                <img class="flaticon-img icon-large" src="assets/flaticons/png/mobile.png" alt="Icon">
              </div>
              <div class="service-content">
                <a href="mobile_app_development.html"><h4>Mobile App Development</h4></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicingiu elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
              </div>
            </div> <!-- /.service-box -->
            <div class="col-md-4 col-sm-6 service-box" data-animation="fadeIn" data-animation-delay="01">
              <div class="service-icon">
                <!-- <i class="flaticon-sofa-of-one-place-outline icon-large"></i> -->
                <img class="flaticon-img icon-large" src="assets/flaticons/png/009-computer.png" alt="Icon">
              </div>
              <div class="service-content">
                <a href="web_development.html"><h4>Web Developement</h4></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicingiu elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
              </div>
            </div> <!-- /.service-box -->
            <div class="col-md-4 col-sm-6 service-box" data-animation="fadeIn" data-animation-delay="01">
              <div class="service-icon">
                <!-- <i class="flaticon-command icon-large"></i> -->
                <img class="flaticon-img icon-large" src="assets/flaticons/png/013-clipboard.png" alt="Icon">
              </div>
              <div class="service-content">
                <a href="ERP_software_solution.html"><h4>ERP Software Solution</h4></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicingiu elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
              </div>
            </div> <!-- /.service-box -->
            <div class="col-md-4 col-sm-6 service-box" data-animation="fadeIn" data-animation-delay="01">
              <div class="service-icon">
                <!-- <i class="flaticon-furniture icon-large"></i> -->
                <img class="flaticon-img icon-large" src="assets/flaticons/png/014-website.png" alt="Icon">
              </div>
              <div class="service-content">
                <a href="digital_marketing.html"><h4>Digital Marketing</h4></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicingiu elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
              </div>
            </div> <!-- /.service-box -->
            <div class="col-md-4 col-sm-6 service-box" data-animation="fadeIn" data-animation-delay="01">
              <div class="service-icon">
                <!-- <i class="flaticon-sofa icon-large"></i> -->
                <img class="flaticon-img icon-large" src="assets/flaticons/png/011-browser.png" alt="Icon">
              </div>
              <div class="service-content">
                <a href="SEO.html"><h4>SEO</h4></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicingiu elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
              </div>
            </div> <!-- /.service-box -->
            <div class="col-md-4 col-sm-6 service-box" data-animation="fadeIn" data-animation-delay="01">
              <div class="service-icon">
                <!-- <i class="flaticon-burj-al-arab-1  icon-large"></i> -->
                <img class="flaticon-img icon-large" src="assets/flaticons/png/010-analytics.png" alt="Icon">
              </div>
              <div class="service-content">
                <a href="finance&CFO.html"><h4>Finance & CFO</h4></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicingiu elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
              </div>
            </div> <!-- /.service-box -->
            <div class="col-md-4 col-sm-6 service-box" data-animation="fadeIn" data-animation-delay="01">
              <div class="service-icon">
                <!-- <i class="flaticon-burj-al-arab-1  icon-large"></i> -->
                <img class="flaticon-img icon-large" src="assets/flaticons/png/012-web-design.png" alt="Icon">
              </div>
              <div class="service-content">
                <a href="LSS.html"><h4>Leased Sharing Services</h4></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicingiu elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
              </div>
            </div> <!-- /.service-box -->
            <div class="col-md-4 col-sm-6 service-box" data-animation="fadeIn" data-animation-delay="01">
              <div class="service-icon">
                <!-- <i class="flaticon-burj-al-arab-1  icon-large"></i> -->
                <img class="flaticon-img icon-large" src="assets/flaticons/png/020-goal.png" alt="Icon">
              </div>
              <div class="service-content">
                <a href="training.html"><h4>Training</h4></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicingiu elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
              </div>
            </div> <!-- /.service-box -->
          </div> <!-- /.row -->
        </div> <!-- .container -->
      </section> <!-- /.service -->
      <!-- End Services Area -->

    
    </div>

