<!-- Page Header AREA START -->
<section class="page-head page-bg" style="background-image: url('assets/images/ITbanner.jpg')">
    <div class="container">    
        <h3 class="page-heading">{{servicename}}</h3>
        <div class="sub-title">
            <a href="index.html"><span>Home</span></a>
            <i class="fa fa-angle-right"></i> <a href="service.html"><span> Services</span></a>
            <i class="fa fa-angle-right"></i>
            <span> {{servicename}}</span>
        </div>
    </div> <!-- /.container -->
</section> <!-- /.page-head -->
<!-- /Page Header AREA END -->
<!-- Page In AREA START -->
<div class="page-in section">
    <div class="container">    
        <div class="row">
            <div class="blog">
                <div class="col-xs-12 col-sm-12 col-md-9">
                    <div class="blog-content">												
                  <p class="text-center"></p>
                    <h1 style="color: #000;">DEVELOPING &nbsp;<span style="color: #00B2B6;font-family: 'Sentinel SSm A', 'Sentinel SSm B';font-style: italic;">IT SERVICES</span></h1><br/>
                         <div class="">
                         <p style="text-align:justify">Techlopers is concentrated in IT Services, Data Processing and Health care Outsourcing Services. Advancement in website improvement and web showcasing, e-Commerce, mixed media arrangements, substance composing, Data Analysis providing robust solution.
                         </p><br/>
                         </div>
                         <h4>KEY AREAS FOR &nbsp;<span style="color: #00B2B6;font-family: 'Sentinel SSm A', 'Sentinel SSm B';font-style: italic;">PARTNERSHIP</span></h4>
                         <img src="assets/images/key.png" class="img-responsive">
                       <br/>
                        <hr/>
                       <br/>
                         <h4>THE RIGHT CHOICE</h4>
                         <img src="assets/images/key1.png" class="img-responsive">
                         <div class="col-sm-12">
                         <div class="col-sm-8">
                         <img src="assets/images/key3.png" class="img-responsive">
                         </div>
                         <div class="col-sm-4">
                         <p style="text-align:justify">By sharing time consuming work with us and paying less for that time, you can effectively reduce the cost of services by as much as 56%*. Looking at the adjoining graph, the variable cost at home is increasing by a larger factor than the cost when this service is outsourced to us, thus yielding greater cost savings as the team size increases.
            </p><br/><br/>
                         </div>
                         </div>    
                    </div> <!-- /.blog-content -->					
            
                </div> <!-- /.col- -->
            </div> <!-- /.blog -->

            <aside class="sidebar">
                <div class="col-xs-12 col-sm-12 col-md-3">					   
                                        
                    <div class="widget">
                        <div class="wi-side">
                            <div class="wi-border">
                                <h3 class="wi-border-title">Our Industry</h3>
                            </div>
                            <div class="wi-content wi-recent">
                                <ul>
                                    <li><a href="#">Automotive</a></li>
                                    <li><a href="#">Banking & Financial</a></li>
                                    <li><a href="#">Capital Markets</a></li>
                                    <li><a href="#">Chemicals</a></li>
                                    <li><a href="#">Consumer Goods</a></li>
                                    <li><a href="#">Energy</a></li>
                                    <li><a href="#">E-Commerce</a></li>
                                    <li><a href="#">Financial Accounting</a></li>
                                    <li><a href="#">Healthcare</a></li>
                                    <li><a href="#">Hospitality</a></li>
                                    <li><a href="#">Industrial Manufacturer</a></li>
                                    <li><a href="#">Insurance</a></li>
                                    <li><a href="#">Life Science</a></li>
                                    <li><a href="#">Media Entertainment</a></li>
                                    <li><a href="#">Regulatory Affairs</a></li>
                                    <li><a href="#">Retail</a></li>
                                    <li><a href="#">Telecommunication</a></li>
                                    <li><a href="#">Transportation Logistics</a></li>
                                </ul>
                            </div> <!-- /.wi-content -->
                        </div> <!--     /.wi-side -->
                    </div> <!-- /.widget -->

                
                </div> <!-- /.col- -->
            </aside> <!-- /.sidebar -->
        </div> <!-- /.row -->  
    </div> <!-- /.container -->
</div> <!-- /.page-in -->
<!-- /Page In AREA END -->