 <!-- Page Header AREA START -->
   <section class="page-head page-bg" style="background-image: url('assets/images/lss.jpg')">
        <div class="container">    
            <h3 class="page-heading">ALL YOU NEED TO KNOW</h3>
            <div class="sub-title">
                <a href="index.html"><span>Home</span></a>
                <i class="fa fa-angle-right"></i> <a href="service.html"><span> Services</span></a>
                <i class="fa fa-angle-right"></i><a href="LSS.html">
                <span> LSS</span></a>
            </div>
        </div><!-- /.container -->
  </section> <!-- /.page-head -->
    <!-- /Page Header AREA END -->
<!-- Page In AREA START -->
    <div class="page-in section">
        <div class="container">    
            <div class="row">
                <div class="blog">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <h2 style="text-transform: uppercase;">Leased Service sharing + Smart Leaning</h2>
</div>
<div class="col-sm-12 text-center">
<div class="col-sm-5">
<img src="assets/images/service1.png" class="img-responsive">
<br/>
<p style="text-align:justify">TechLopers offers a new and innovative approach toservice sharing thatis built on transparency, stabilityand deep understanding to assurecompliancewith your quality standardswhile seamlessly integrating into your existing business operations in the most cost efficient manner. </p>
</div>
<div class="col-sm-2 text-center"><h1 style="margin-top:50px">=</h1></div>
<div class="col-sm-5 text-center">
<div style="min-height:400px;"><img src="assets/images/service2.png" class="img-responsive" style="margin-left:20px;"></div>
<br/>
<p style="text-align:justify">A smart leaning approach utilises a deep understandingof service sharing business processes, enabling the detection of end to end idiosyncrasies and waste, ultimately eliminating them to reduce costs and increase effic0iency.</p>
</div>
        </div>
        <div class="col-sm-12">
        <h4>Let us look at an example to better understand the cost benefit provided by LSS. </h4>
<p style="text-align:justify">In a highly digitalised environment, a team of 200+ employees dedicated to the accounting function is working at 100% capacity, additional workload would mean adding employees, IT infrastructure, office space, employee benefits and other overheads leading to diseconomies of scale. <br/>
Our client has recently landed a project in Audit support, where 10 new people would be required to successfully run the operation. The client is faced with two options,
</p>
<p>      1.  Reject the project, or</p>
<p>     2.  Accept and hire 10 new personnel </p>
<p>Hiring new personnel for a temporary project would mean adding fixed cost for a temporary source of revenue. It would be preferable to add variable cost instead of fixed cost for such a project. This is where LSS steps in.
</p>
        </div><!--col-sm-12-->
        <div class="col-sm-12 text-center">
        <hr/>
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
        </div>
        </div><!--col-sm-12-->
       
        </div>            
    </div>
  
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
       <h2 class="intro-heading uppercase"><h1>REQUIREMENTS AND ASSUMPTIONS</h1></h2><br/>
       <div class="table-responsive">
        <table class="table table-bordered">
<thead style="background:#00b2b6;">
  <tr>
    <th>Positions</th>
    <th>Qualifications </th>
    <th>Median CTC/Yr.</th>
    <th>Median CTC/Month</th>
    
  </tr>
</thead>
<tbody>
  <tr>
    <td>Manager</td>
    <td>CPA/CA, with 5yrs. + experience in Attest/Audit </td>
    <td>$1,00,142.00  </td>
    <td>$8,345.17 </td>
  </tr>
  <tr>
    <td>Senior Auditor</td>
    <td>CPA/CA/Graduate in commerce with 4-5yrs. + experience in Attest/Audit</td>
    <td>$76,339.00 </td>
    <td>$6,361.58 </td>
  </tr>
  <tr>
    <td>Senior Audit Associate</td>
    <td>CPA/CA/Graduate in commerce with 2-3yrs. + experience in Attest/Audit </td>        
    <td>$70,628.00 </td>
    <td>$5,885.67 </td>
  </tr>
   <tr>
    <td>Audit Associate</td>
    <td>Fresher graduate/ 0-1 yrs. Experience in Attest/Audit</td>
    <td> $57,112.00 </td>
    <td>$4,759.33 </td>
  </tr>
</tbody>
</table>
</div>
<br/>
<br/>
<table class="table table-bordered">
<thead style="background:#00b2b6;">
  <tr>
    <th>Assumptions</th>
    </tr>
</thead>
<tbody>
  <tr>
    <td>1. A sample team size of 10 employees</td>
  </tr>   
  <tr>
    <td>2. For the aforementioned team there is one manager and one senior auditor, overseeing the process.
</td>
  </tr>   
  <tr>
    <td>3. There are 2 Senior Audit Associates and 6 Audit Associates.
</td>
  </tr>   
  <tr>
    <td>4. Costs of IT infrastructure remains constant and unaffected by geographical location.
</td>
  </tr>   
  <tr>
    <td>5. Managers role is not shared using LSS. All LSS subordinates report to the manager at the home office.
</td>
  </tr>   
  <tr>
    <td>6. Other overheads(fixed or variable) are not used to compute the cost difference and represent a 100% cost saving to a client, since they are borne by TechLopers
</td>
  </tr>    
</tbody>
</table>
<br/><hr/>
<h2 class="intro-heading uppercase"><h1>COST DIFFERENCE</h1></h2><br/>
<div class="table-responsive">
        <table class="table table-bordered">
<thead style="background:#00b2b6;">
  <tr>
    <th colspan="5">Total CTC for Process at Home</th>        
  </tr>
  <tr>
<th>Position</th>
<th>Median CTC/yr./Employee</th>
<th>Total CTC</th>
<th>Hours</th>
<th>Cost/Hour</th>
</tr>
</thead>
<tbody>    
  <tr>
    <td>1* Manager</td>
    <td>$1,00,142</td>
    <td>$1,00,142.00 </td>
    <td>2120</td>
    <td>$47.24 </td>
  </tr> 
   <tr>
    <td>1* Senior</td>
    <td>$76,339 </td>
    <td>$76,339.00  </td>
    <td>2120</td>
    <td>$36.01 </td>
  </tr> 
   <tr>
    <td>2* Senior Associate</td>
    <td>$70,628 </td>
    <td>$1,41,256.00  </td>
    <td>4240</td>
    <td>$33.32</td>
  </tr>     
    <tr>
    <td>6* Junior  Associate</td>
    <td>$57,112  </td>
    <td>$3,42,672.00   </td>
    <td>12720</td>
    <td>$26.94 </td>
  </tr> 
   <tr>
    <td>&nbsp;</td>
    <td><b>Total CTC for Process/yr.</b></td>
    <td><b>$6,60,409.00</b> </td>
    <td>&nbsp;</td>
    <td>&nbsp; </td>
  </tr>  
</tbody>
</table>
</div><!--table Lss--><br/>
<div class="table-responsive">
        <table class="table table-bordered">
<thead style="background:#00b2b6;">
  <tr>
    <th colspan="5">Total CTC for Process when shared using LSS</th>        
  </tr>
  <tr>
<th>Position</th>
<th>Median CTC/yr./Employee</th>
<th>Total CTC</th>
<th>Hours</th>
<th>Cost/Hour</th>
</tr>
</thead>
<tbody>    
  <tr>
    <td>1* Manager</td>
    <td>$1,00,142.00  </td>
    <td>$1,00,142.00  </td>
    <td>N/A</td>
    <td>N/A </td>
  </tr> 
   <tr>
    <td>1* Senior</td>
    <td>$25,440.00  </td>
    <td>$25,440.00   </td>
    <td>2120</td>
    <td>$12.00 </td>
  </tr> 
   <tr>
    <td>2* Senior Associate</td>
    <td>$21,200.00 </td>
    <td>$42,400.00  </td>
    <td>4240</td>
    <td>$10.00</td>
  </tr>     
    <tr>
    <td>6* Junior  Associate</td>
    <td>$14,840.00 </td>
    <td>$89,040.00 </td>
    <td>12720</td>
    <td>$7.00 </td>
  </tr> 
   <tr>
    <td>&nbsp;</td>
    <td><b>Total CTC for Process/yr.</b></td>
    <td><b>$2,57,022.00  </b> </td>
    <td>&nbsp;</td>
    <td>&nbsp; </td>
  </tr>  
</tbody>
</table>
</div><!--table Lss1-->
<table class="table table-bordered">
<thead>
  <tr>
    <th>Effective Reduction in Process Cost</th><th>$4,03,387.00 </th>
    </tr>
     <tr>
    <th>Cost reduction %</th><th>61%</th>
    </tr>
</thead>   
</table><!--lss table2-->
</div><!--col-sm-12-->
<div class="col-sm-12">
<br/><br/>
<div class="col-sm-7">
<p>
To begin with, the <b>Cost with LSS  Vs. Cost at Home</b>, brings to light the cost saving of <b>61%+</b> by partnering with TechLopers and using LSS.<br/><br/>

Notice, the Cost at Home is increasing by a larger factor than the Cost with LSS, when this service is shared with us, thus yielding in<b> greater cost savings as the team size increases</b>.<br/><br/>

By sharing time consuming work with us and paying less for that time, you can effectively<b> reduce the cost of services by as much as 61%*</b>.   
</p>
</div>
<div class="col-sm-5">
<img src="assets/images/service4.PNG" class="img-responsive" style="">
</div>
</div><!--/col-sm-12-->
<div class="col-sm-12">
<br/>
<hr/>
<br/>
<h2 class="intro-heading uppercase"><h1>HOW THE PROCESS WORKS</h1></h2><br/>
<img src="assets/images/service3.PNG" style="height:100%;width:100%;">
</div>				
                
                </div> <!-- /.blog -->
            </div> <!-- /.row -->  
        </div> <!-- /.container -->
    </div> <!-- /.page-in -->
    <!-- /Page In AREA END -->