<!-- Page Header AREA START -->
<section class="page-head page-bg" style="background-image: url('assets/images/service.jpg')">
    <div class="container">    
        <h3 class="page-heading">{{servicename}}</h3>
        <div class="sub-title">
            <a href="#"><span>Home</span></a>
            <i class="fa fa-angle-right"></i><a href="#"><span> Services</span></a>
            <i class="fa fa-angle-right"></i>
            <span> {{servicename}}</span>
        </div>
    </div> <!-- /.container -->
</section> <!-- /.page-head -->
<!-- /Page Header AREA END -->
<!-- Page In AREA START -->
<div class="page-in section">
    <div class="container">    
        <div class="row">
            <div class="blog">
                <div class="col-xs-12 col-sm-12 col-md-9">
                    <div class="blog-content">
                        <div class="blog-feature">
                            <img [src] = 'serviceimage' alt="{{servicename}}">								
                        </div> <!-- /.blog-feature -->
                        <div class="post-title">
                                <h3>Services - {{servicename}}</h3>
                        </div>
                        <div class="post-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est eserunt mollit anim id labor laborumlabor laborum est.</p>
                        </div>							
                    </div> <!-- /.blog-content -->					
            
                </div> <!-- /.col- -->
            </div> <!-- /.blog -->

            <aside class="sidebar">
                <div class="col-xs-12 col-sm-12 col-md-3">					   
                                        
                    <div class="widget">
                        <div class="wi-side">
                            <div class="wi-border">
                                <h3 class="wi-border-title">Our Industry</h3>
                            </div>
                            <div class="wi-content wi-recent">
                                <ul>
                                    <li><a href="#">Automotive</a></li>
                                    <li><a href="#">Banking & Financial</a></li>
                                    <li><a href="#">Capital Markets</a></li>
                                    <li><a href="#">Chemicals</a></li>
                                    <li><a href="#">Consumer Goods</a></li>
                                    <li><a href="#">Energy</a></li>
                                    <li><a href="#">E-Commerce</a></li>
                                    <li><a href="#">Financial Accounting</a></li>
                                    <li><a href="#">Healthcare</a></li>
                                    <li><a href="#">Hospitality</a></li>
                                    <li><a href="#">Industrial Manufacturer</a></li>
                                    <li><a href="#">Insurance</a></li>
                                    <li><a href="#">Life Science</a></li>
                                    <li><a href="#">Media Entertainment</a></li>
                                    <li><a href="#">Regulatory Affairs</a></li>
                                    <li><a href="#">Retail</a></li>
                                    <li><a href="#">Telecommunication</a></li>
                                    <li><a href="#">Transportation Logistics</a></li>
                                </ul>
                            </div> <!-- /.wi-content -->
                        </div> <!--     /.wi-side -->
                    </div> <!-- /.widget -->

                
                </div> <!-- /.col- -->
            </aside> <!-- /.sidebar -->
        </div> <!-- /.row -->  
    </div> <!-- /.container -->
</div> <!-- /.page-in -->
<!-- /Page In AREA END -->