<div id="all-area" class="all-section">
    
    <!-- Page Header AREA START -->
    <section class="page-head page-bg" style="background-image: url('assets/images/service.jpg')">
        <div class="container">    
            <h3 class="page-heading">Our Service</h3>
            <div class="sub-title">
                <a href="#"><span>Home</span></a>
                <i class="fa fa-angle-right"></i>
                <span>Service</span>
            </div>
        </div> <!-- /.container -->
    </section> <!-- /.page-head -->
    <!-- /Page Header AREA END -->

    <!-- Our Services AREA START -->
    <section class="our-service section">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">
                    <div class="section-heading" style="padding-bottom: 0px;">
                        <h2 class="title"><span>Our</span> Service</h2>						
                    </div>
                </div>
            </div> <!-- /.row -->
            <div class="row">
                <!-- Single Service -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-services">
                        <div class="icon"><img class="flaticon-img icon-large icon-large" src="assets/flaticons/png/mobile.png" alt="Icon"></div>
                        <div class="icon two"><img class="flaticon-img icon-large icon-large" src="assets/flaticons/png/mobile.png" alt="Icon"></div>
                        <h4><a href="mobile_app_development.html">Mobile App Development</a></h4>
                        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                </div>
                <!--/ End Single Service -->
                <!-- Single Service -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-services">
                        <div class="icon"><img class="flaticon-img icon-large icon-large" src="assets/flaticons/png/009-computer.png" alt="Icon"></div>
                        <div class="icon two"><img class="flaticon-img icon-large icon-large" src="assets/flaticons/png/009-computer.png" alt="Icon"></div>
                        <h4><a href="web_development.html">Web Developement</a></h4>
                        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                </div>
                <!--/ End Single Service -->
                <!-- Single Service -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-services">
                        <div class="icon"><img class="flaticon-img icon-large icon-large" src="assets/flaticons/png/013-clipboard.png" alt="Icon"></div>
                        <div class="icon two"><img class="flaticon-img icon-large icon-large" src="assets/flaticons/png/013-clipboard.png" alt="Icon"></div>
                        <h4><a href="ERP_software_solution.html">ERP Software Solution</a></h4>
                        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                </div>
                <!--/ End Single Service -->
                <!-- Single Service -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-services">
                        <div class="icon"><img class="flaticon-img icon-large icon-large" src="assets/flaticons/png/014-website.png" alt="Icon"></div>
                        <div class="icon two"><img class="flaticon-img icon-large icon-large" src="assets/flaticons/png/014-website.png" alt="Icon"></div>
                        <h4><a href="digital_marketing.html">Digital Marketing</a></h4>
                        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                </div>
                <!--/ End Single Service -->
                <!-- Single Service -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-services">
                        <div class="icon"><img class="flaticon-img icon-large icon-large" src="assets/flaticons/png/011-browser.png" alt="Icon"></div>
                        <div class="icon two"><img class="flaticon-img icon-large icon-large" src="assets/flaticons/png/011-browser.png" alt="Icon"></div>
                        <h4><a href="SEO.html">SEO</a></h4>
                        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                </div>
                <!--/ End Single Service -->
                <!-- Single Service -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-services">
                        <div class="icon"><img class="flaticon-img icon-large icon-large" src="assets/flaticons/png/012-web-design.png" alt="Icon"></div>
                        <div class="icon two"><img class="flaticon-img icon-large icon-large" src="assets/flaticons/png/012-web-design.png" alt="Icon"></div>
                        <h4><a href="LSS.html">Leased Sharing Services</a></h4>
                        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                </div>
                <!--/ End Single Service -->
                <!-- Single Service -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-services">
                        <div class="icon"><img class="flaticon-img icon-large icon-large" src="assets/flaticons/png/010-analytics.png" alt="Icon"></div>
                        <div class="icon two"><img class="flaticon-img icon-large icon-large" src="assets/flaticons/png/010-analytics.png" alt="Icon"></div>
                        <h4><a href="finance&CFO.html">Finance & CFO</a></h4>
                        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                </div>
                <!--/ End Single Service -->
                <!-- Single Service -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-services">
                        <div class="icon"><img class="flaticon-img icon-large icon-large" src="assets/flaticons/png/020-goal.png" alt="Icon"></div>
                        <div class="icon two"><img class="flaticon-img icon-large icon-large" src="assets/flaticons/png/020-goal.png" alt="Icon"></div>
                        <h4><a href="training.html">Training</a></h4>
                        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                </div>
                <!--/ End Single Service -->
            </div> <!-- /.row -->
        </div><!-- container -->
    </section> <!-- /.our-service -->
    <!-- /Our Services AREA END -->

    <!-- Working AREA START -->
    <section class="working">
        <div class="full-width-sec">
            <div class="container">    
                <div class="row">
                    <div class="col-sm-12 col-md-6 padding-0 pos-static">
                        <div class="tab-content">
                            <div class="cel-feature full-w-h tab-pane fade in active" id="service-img1">
                                <img class="img-responsive" src="assets/images/services/b2.jpg" alt="Img">
                            </div>
                            <div class="cel-feature full-w-h tab-pane fade" id="service-img2">
                                <img class="img-responsive" src="assets/images/services/2.jpg" alt="Img">
                            </div>
                            <div class="cel-feature full-w-h tab-pane fade" id="service-img3">
                                <img class="img-responsive" src="assets/images/services/3.jpg" alt="Img">
                            </div>
                        </div> <!-- /.tab-content -->
                    </div> <!-- /.col -->

                    <div class="col-sm-12 col-md-6 padding-0">
                        <div class="get-us">
                            <div class="get-head">
                                <div class="get-icon">
                                    <img src="assets/images/icons/filter.png" alt="Icon">
                                    <div class="get-number">
                                        3
                                    </div>     
                                </div>
                                <div class="get-title">
                                    <h4>what you get <br>from us?</h4>
                                </div>
                            </div> <!-- /.get-head -->
                            <div class="slider service-slider-content">
                                <div class="get-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
                                </div>
                                <div class="get-content">
                                    <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                </div>
                                <div class="get-content">
                                    <p> Duis aute irure dolor. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                            </div> <!-- /.service-slider-content -->

                            <div class="row get-all-items">
                                <ul class="slider slider-thumb">
                                    <li class="col-xs-6 col-sm-4 active" data-toggle="tab" data-target="#service-img1">
                                        <div class="get-item">
                                            <img src="assets/images/services/b2.jpg" alt="Img">
                                            <h6>website build</h6>
                                        </div><!-- /.get-item -->
                                    </li> 
                                    <li class="col-xs-6 col-sm-4" data-toggle="tab" data-target="#service-img2">
                                        <div class="get-item">
                                            <img src="assets/images/services/2.jpg" alt="Img">
                                            <h6>redesign website</h6>
                                        </div><!-- /.get-item -->
                                    </li> 
                                    <li class="col-xs-6 col-sm-4" data-toggle="tab" data-target="#service-img3">
                                        <div class="get-item">
                                            <img src="assets/images/services/3.jpg" alt="Img">
                                            <h6>heavy marketing</h6>
                                        </div><!-- /.get-item -->
                                    </li> 
                                </ul> <!-- /.slider-thumb -->
                            </div> <!-- /.get-all-items -->
                        </div> <!-- /.get-us -->					
                    </div> <!-- /.col- -->
                </div> <!-- /.row -->  
            </div> <!-- /.container -->
        </div> <!-- /.full-width-sec full-width-sec-2nd -->

    </section> <!-- /.working -->
    <!--  Working AREA END -->
</div>