<!-- Page Header AREA START -->
<section class="page-head page-bg" style="background-image: url('assets/images/training.jpg')">
    <div class="container">    
        <h3 class="page-heading">{{servicename}}</h3>
        <div class="sub-title">
            <a href="index.html"><span>Home</span></a>
            <i class="fa fa-angle-right"></i>
            <span> {{servicename}}</span>
        </div>
    </div> <!-- /.container -->
</section> <!-- /.page-head -->
<!-- /Page Header AREA END -->
<!-- Page In AREA START -->
<div class="page-in section">
    <div class="container">    
        <div class="row">
            <div class="blog">
                <div class="col-xs-12 col-sm-12 col-md-12">
                <h1 style="color: #000;">Welcome To Online Training From Working Professionals By <span style="color: #00B2B6;font-family: 'Sentinel SSm A', 'Sentinel SSm B';font-style: italic;">Techlopers</span></h1>
                 <h4 class="text-center"><i>"It's best to learn hunting from hunters; rather than zookeepers"</i></h4>				     
                 <div class="col-sm-12 text-center">
                      <img src="assets/images/icon_easy.png" height="100" width="100">
                      <h4>Hassle Free Process</h4>
                 </div>
                 <div class="col-sm-12">
                 <div class="col-sm-6 text-center">
                     <img src="assets/images/icon-fullratetime.png" height="100" width="100">
                     <h4 >Time Flexibility</h4>
                 </div>
                 <div class="col-sm-6 text-center">
                    <img src="assets/images/affordable2.png" height="100" width="100">
                     <h4>Affordable</h4>
                   
                 </div>
                 </div>
                 <div class="col-sm-12 text-center">
                 <div class="col-sm-4" style="margin-top:4%;">
                 <br/>
                  <img src="assets/images/internship.png" height="100" width="100">
                     <h4 class="text-center">Internship</h4>
                     </div>
                     <div class="col-sm-4">
                     <img src="assets/images/50a857a7bbe36010c73c07792f1004f4.gif" height="200" width="300">
                     <h4 class="text-center">Mentorship</h4>
                     </div>
                     <div class="col-sm-4" style="margin-top:4%;">             	
                     <img src="assets/images/realtimeproject.png" height="120" width="120">
                     <h4 class="text-center">Real Time Project</h4>
                     </div>
                </div>
                <div class="col-sm-12">
                 <div class="col-sm-6 text-center">
                 <br/>
                    <img src="assets/images/ebook-icon.png" height="100" width="100">
                     <h4 class="text-center" style="margin-left:50px">e-Book</h4>
                 </div>
                  <div class="col-sm-6 text-center">
                  <br/>
                     <img src="assets/images/onlinet.png" height="100" width="100">
                     <h4 class="text-center">Professionals as Trainers</h4>
                 </div>
                  </div>
                  <div class="col-sm-12 text-center">
                      <span id="" ><img src="assets/images/phonegif.gif" height="90" width="120" id="get_qoute"  style="cursor:pointer"></span>
                     <h4 class="text-center">Get A Call</h4>
                  </div>
                </div> <!-- /.col- -->
            </div> <!-- /.blog -->				
        </div> <!-- /.row -->  
    </div> <!-- /.container -->

<!-- Start Accordian -->
<div class="container">  
<div class="row">
  <h2>Our Courses</h2>
</div>
<div class="row">
<div class="col-sm-3">
<div class="btn-group">
<Button type="button" class="btn btn-info"  id="get_php" onclick="hidediv();" style="width:100%;border-radius:0px;">PHP</Button>
<Button type="button" class="btn btn-primary"  style="width:100%;border-radius:0px;" onclick="addcart('PHP');">Add To Cart |<i class="fa fa-shopping-cart" aria-hidden="true"></i></Button>
</div><br/>
<div class="btn-group">
<Button type="button" class="btn btn-info" id="get_java"  style="width:100%;border-radius:0px;">JAVA</Button>
<Button type="button" class="btn btn-primary"  style="width:100%;border-radius:0px;" onclick="addcart('JAVA');">Add To Cart | <i class="fa fa-shopping-cart" aria-hidden="true"></i></Button>
</div><br/>
<div class="btn-group">
<Button class="btn btn-info" id="get_android" type="button" style="width:100%;border-radius:0px;">ANDROID</Button>
<Button type="button" class="btn btn-primary" style="width:100%;border-radius:0px;" onclick="addcart('ANDROID');">Add To Cart |<i class="fa fa-shopping-cart" aria-hidden="true"></i></Button>
</div><br/>
<div class="btn-group">
<Button class="btn btn-info" type="button" id="get_ui" style="width:100%;border-radius:0px;">UI/UX</Button>
<Button type="button" class="btn btn-primary"  style="width:100%;border-radius:0px;" onclick="addcart('UT/UX');">Add To Cart |<i class="fa fa-shopping-cart" aria-hidden="true"></i></Button>
</div><br/>
<div class="btn-group">
<Button class="btn btn-info" type="button" id="get_sql" style="width:100%;border-radius:0px;">MYSQL</Button>
<Button type="button" class="btn btn-primary"  style="width:100%;border-radius:0px;" onclick="addcart('MYSQL');">Add To Cart |<i class="fa fa-shopping-cart" aria-hidden="true"></i></Button>
</div><br/>
<div class="btn-group">
<Button class="btn btn-info" type="button" id="get_angular" style="width:100%;border-radius:0px;">Angular Js</Button><br/>
<Button type="button" class="btn btn-primary"  style="width:100%;border-radius:0px;" onclick="addcart('AngularJs');">Add To Cart |<i class="fa fa-shopping-cart" aria-hidden="true"></i></Button>
</div><br/>
<div class="btn-group">
<Button class="btn btn-info" type="button" id="get_web" style="width:100%;border-radius:0px;">WEB DESIGNING</Button>
<Button type="button" class="btn btn-primary"  style="width:100%;border-radius:0px;" onclick="addcart('Web');">Add To Cart |<i class="fa fa-shopping-cart" aria-hidden="true"></i></Button>
</div>
</div>
<div class="col-sm-9">
<h4>Package Of PHP</h4>
<div class="panel-group" id="accordion">
<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">
  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">HTML5</a>
</h4>
</div>
<div id="collapse1" class="panel-collapse collapse ">
<div class="panel-body">
    <ul style="padding-left:20px">
<li><b><span style="color:red">&gt;&gt;</span></b> Introduction to Web Technologies</li>
<li><b><span style="color:red">&gt;&gt;</span></b> Hyper Text Markup Language (HTML 5)</li>
<li><b><span style="color:red">&gt;&gt;</span></b> HTML Structure Tag</li>
<li><b><span style="color:red">&gt;&gt;</span></b> Content/Media Tag</li>
<li><b><span style="color:red">&gt;&gt;</span></b> Working with Forms</li>
<li><b><span style="color:red">&gt;&gt;</span></b> New Structure Tags</li>
<li><b><span style="color:red">&gt;&gt;</span></b> New Form Tags</li>
<li><b><span style="color:red">&gt;&gt;</span></b> New Media Tags</li>
<li><b><span style="color:red">&gt;&gt;</span></b> Designing a Layout using HTML5</li>
</ul>
</div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">
  <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Cascading Style Sheets (3.0)</a>
</h4>
</div>
<div id="collapse2" class="panel-collapse collapse">
<div class="panel-body">
<ul style="padding-left:20px">
<li><b><span style="color:red">&gt;&gt;</span></b> Types of CSS Selectors</li>
<li><b><span style="color:red">&gt;&gt;</span></b> CSS properties</li>
<li><b><span style="color:red">&gt;&gt;</span></b> Using CSS for Realtime Practical Works</li>
</ul>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">
  <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Bootstrap</a>
</h4>
</div>
<div id="collapse3" class="panel-collapse collapse">
<div class="panel-body"><ul style="padding-left:20px">
<li><b><span style="color:red">&gt;&gt;</span></b> Basic functionality</li>
</ul></div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">
  <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Java Script</a>
</h4>
</div>
<div id="collapse4" class="panel-collapse collapse">
<div class="panel-body"><ul style="padding-left:20px">
<li><b><span style="color:red">&gt;&gt;</span></b> About JavaScript?</li>
<li><b><span style="color:red">&gt;&gt;</span></b> Intercepting Clicks</li>
<li><b><span style="color:red">&gt;&gt;</span></b> An image gallery</li>
<li><b><span style="color:red">&gt;&gt;</span></b> Menu form</li>
<li><b><span style="color:red">&gt;&gt;</span></b> JavaScript Issues</li>
<li><b><span style="color:red">&gt;&gt;</span></b> Programming Tips</li>
<li><b><span style="color:red">&gt;&gt;</span></b> More Information</li>
</ul></div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">
  <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">CORE PHP</a>
</h4>
</div>
<div id="collapse5" class="panel-collapse collapse">
<div class="panel-body">
<ul style="padding-left:20px">
<li><b><span style="color:red">&gt;&gt;</span></b> Install PHP 7, Apache And MySQL on Windows</li>
<li><b><span style="color:red">&gt;&gt;</span></b> PHP Introduction</li>
<li><b><span style="color:red">&gt;&gt;</span></b> Data types, Variables and Constants</li>
<li><b><span style="color:red">&gt;&gt;</span></b> Strings, Regular Expressions</li>
<li><b><span style="color:red">&gt;&gt;</span></b> Arrays In PHP</li>
<li><b><span style="color:red">&gt;&gt;</span></b> Operators</li>
<li><b><span style="color:red">&gt;&gt;</span></b> Conditional statements</li>
<li><b><span style="color:red">&gt;&gt;</span></b> Looping statements</li>
<li><b><span style="color:red">&gt;&gt;</span></b> Working With JQUERY In PHP</li>
<li><b><span style="color:red">&gt;&gt;</span></b> Ajax And  Json In PHP</li>
<li><b><span style="color:red">&gt;&gt;</span></b> Functions</li>
<li><b><span style="color:red">&gt;&gt;</span></b> Special Predefined Functions</li>
<li><b><span style="color:red">&gt;&gt;</span></b> Arrays</li>
<li><b><span style="color:red">&gt;&gt;</span></b> PHP Forms</li>
<li><b><span style="color:red">&gt;&gt;</span></b> Super Global Variables</li>
<li><b><span style="color:red">&gt;&gt;</span></b> Database Connection</li>
<li><b><span style="color:red">&gt;&gt;</span></b> MySQL Query</li>
<li><b><span style="color:red">&gt;&gt;</span></b> Handling Date & Time in PHP</li>
<li><b><span style="color:red">&gt;&gt;</span></b> Google Map And Mail Integration</li>
</ul>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">
  <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">Advance PHP</a>
</h4>
</div>
<div id="collapse6" class="panel-collapse collapse">
<div class="panel-body">
<ul style="padding-left:20px">
<li><b><span style="color:red">&gt;&gt;</span></b> Standard Programming Technique</li> 
<li><b><span style="color:red">&gt;&gt;</span></b> Introduction of OOP</li>
<li><b><span style="color:red">&gt;&gt;</span></b> Features Of OOP</li>
<li><b><span style="color:red">&gt;&gt;</span></b> Visibility, Scope Resolution Operator, Static Keywords</li>
<li><b><span style="color:red">&gt;&gt;</span></b> Namespaces And Traits</li>
<li><b><span style="color:red">&gt;&gt;</span></b> Constructor , Lambda  Function and Closures</li>
<li><b><span style="color:red">&gt;&gt;</span></b> Standard PHP  Library</li>
<li><b><span style="color:red">&gt;&gt;</span></b> Exception And Error Handling</li>
<li><b><span style="color:red">&gt;&gt;</span></b> Programming Tips And Tricks</li>
<li><b><span style="color:red">&gt;&gt;</span></b> Web Services In PHP</li>
<li><b><span style="color:red">&gt;&gt;</span></b> MVC Framework (CodeIgniter / Laravel)</li>
</ul>
</div>
</div>
</div>
</div> 
</div>
</div>
    <!-- End Accordian -->
  </div>
</div> <!-- /.page-in -->
<!-- /Page In AREA END -->